<div>
    <p class="designedBy">Designed by <a href="https://webpages.charlotte.edu/tbusch1/itis3135/buschlimited.com/">Busch Limited</a>, Certified in <a href="https://www.freecodecamp.org/certification/tbusch1/javascript-algorithms-and-data-structures">JS</a></p> 
    <div class="validators">
        <a class="validator-button" href="https://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!"></a>
        <a class="validator-button" href="https://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!"></a>   
    </div>
</div>