<div class="nav-bar">
    <h1 class="nav-header">Zippy Zo&euml; Child Care</h1>
    <a href="https://webpages.charlotte.edu/tbusch1/client_project/" class="nav-link">About Me</a>
    <a href="https://webpages.charlotte.edu/tbusch1/client_project/credentials.html/" class="nav-link">Credentials</a>
    <a href="https://webpages.charlotte.edu/tbusch1/client_project/nanny_plan.html/" class="nav-link">Nanny Plan</a>
    <a href="https://webpages.charlotte.edu/tbusch1/client_project/availability.html/" class="nav-link">Availability</a>
    <a href="https://webpages.charlotte.edu/tbusch1/client_project/contact.html/" class="nav-link">Contact</a>
</div>