body {
    background-color:rgba(35, 25, 63, 0.5);
}

.bodyParagraph {
    padding: 10px;
    max-width: 600px;
}

.listHeader {
    padding-left: 10px;
}

.companyTag {
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.directory {
    text-align: center;
    margin: auto;
    color: ivory;
}

p {
    margin: auto;
    max-width: 600px;
    color: ivory;
}

li {
    margin: auto;
    padding-left: 30px;
    padding-top: 10px;
    max-width: 600px;
    color: ivory;
}

h1, h2, h3 {
    text-align: center;
    margin: auto;
    color: ivory;
}

