/* introduction css stylesheet */

body {
    background-color:rgb(47, 41, 64);
}

.bodyParagraph {
    padding: 10px;
    max-width: 600px;
}

.listHeader {
    padding-left: 10px;
}

.companyTag {
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.directory {
    text-align: center;
    margin: auto;
    color: ivory;
}

p {
    margin: auto;
    max-width: 600px;
    color: ivory;
}

li {
    margin: auto;
    padding-left: 60px;
    padding-top: 20px;
    max-width: 600px;
    color: ivory;
}

h1, h2, h3 {
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
    color: ivory;
}

a {
    color: ivory;
}

a:hover {
    color: grey;
}

a:visited {
    color: grey
}

