/* contract css stylesheet */
body {
    background-color:rgb(47, 41, 64);
}

h1, h2 {
    color: ivory;
    text-align: center;
    margin: auto;
}

p {
    color: ivory;
    text-align: left;
    margin: auto;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: ivory;
}

a:visited {
    color: grey;
}

a:hover {
    color: grey;
}
