<p class="navbar">
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/">Home</a> || 
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/contract.html">Contract</a> || 
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/introduction.html/">Introduction</a> || 
    <a href="/">UNCC Home</a> || 
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/tables.html/">Tables</a> || 
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/forms.html/">Form</a> || 
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/firstscripts.html/">First Scripts</a> ||
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/project_1.html/">Project 1</a>
</p>
<p class="navbar">
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/w3b%20P&ge.htm/">CRAPPY Webpage</a> ||
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/website_evaluations.html/">Website Evaluations</a> ||
    <a href="https://webpages.charlotte.edu/tbusch1/itis3135/hobby/">Hobby</a>
</p>